@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$grad-clr: linear-gradient(
  -45deg,
  hsl(194deg 73% 58%) 0%,
  hsl(197deg 82% 59%) 19%,
  hsl(200deg 91% 61%) 27%,
  hsl(204deg 100% 65%) 34%,
  hsl(207deg 100% 68%) 41%,
  hsl(213deg 100% 72%) 47%,
  hsl(221deg 100% 76%) 53%,
  hsl(235deg 100% 81%) 59%,
  hsl(255deg 100% 81%) 66%,
  hsl(272deg 100% 79%) 73%,
  hsl(286deg 100% 77%) 81%,
  hsl(303deg 89% 74%) 100%
);

* {
  box-sizing: border-box;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.bg-gradient {
  background: $grad-clr;
}

body {
  @apply bg-sky-100;
}

.site-info-div::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  background: $grad-clr;
  opacity: 0.25;
  z-index: -1;
  border-radius: 0.375rem;
  filter: blur(3px);
}

.product-box:hover button {
  @apply w-12 h-12;
}

.product-box:hover svg {
  color: rgb(240 249 255);
}

.main-pad {
  padding: 4rem 10rem;

  @media (max-width: 1024px) {
    & {
      padding: 4rem 5rem;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.h-124 {
  height: 28rem;
}

.category-link::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: $grad-clr;
  z-index: -1;
  border-radius: 0.375rem;
  filter: blur(3px);
  opacity: 0;
  transition: opacity ease-in-out 300ms;
}

.category-link:hover::after {
  opacity: 0.4;
}

.userTabInput {
  @apply bg-transparent border-transparent border-b-white border-solid border-4 rounded-md outline-none w-full;
}

.header-options-links {
  @apply grid place-items-center gap-1 hover:text-pink-200 transition-all;

  grid-template-rows: 2rem 1fr;
}

.add-cart-btn {
  @apply bg-sky-400 text-white px-12 py-2 font-semibold self-start rounded-md hover:bg-pink-500 transition-colors duration-300;
}

.add-cart-mini-btn {
  @apply bg-sky-400 hover:bg-pink-400 absolute bottom-4 right-2 w-0 h-0 rounded-full grid place-items-center transition-all;
}

.delete-item-btn {
  @apply bg-red-400 text-white w-0 h-8 absolute bottom-[0.35rem] right-2 transition-all duration-300 rounded-sm;
}

.delete-item-btn svg {
  @apply opacity-0 transition-all duration-300;
}

.user-cart-item:hover .delete-item-btn {
  @apply w-8 bg-red-600;
}

.user-cart-item:hover .delete-item-btn svg {
  @apply opacity-100;
}
